<div class="addButton">
  <button mat-flat-button color="primary" (click)="addArtist()">Add Artist</button>
</div>
<div class="container">
  <div class="row">
    @for (artist of artists; track artist.id) {
    <div class="card-client">
      <div class="user-picture">
        <mat-icon>person</mat-icon>
      </div>
      <p class="name-client" style="font-weight: bold;"> {{artist.firstName}} {{artist.lastName}}
        <span>
        </span>
      </p>

      <div class="social-media">
      </div>

      <p class="name-client"> {{artist.country}}

        <span>
        </span>

      </p>

      <p class="name-client">

        <span>
        </span>

      </p>
      <div class="artist-action-buttons">
        <button mat-fab color="primary" matTooltip="View" aria-label="View Artist" (click)="openArtistDialog(artist)">
          <mat-icon>visibility</mat-icon>
        </button>

        <button mat-fab color="accent"  matTooltip="Edit" aria-label="Edit Artist" (click)="editArtist(artist)">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-fab color="warn"  matTooltip="Delete" aria-label="Delete Artist" (click)="deleteArtist(artist)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>




    </div>
    }
  </div>

</div>
