@if (albums) {
<div class="main" >
  <mat-card class="card-client">
    <h2 class="name-client">Album Details</h2>
    <h2 class="name-client">Name : {{albums.albumName}} </h2>
    <p class="name-client">Desc: {{albums.description}}</p>
    <p class="name-client">Genre: {{albums.genre}}</p>
    <p class="name-client">Format: {{albums.format}}</p>
    <p class="name-client">Total no of tracks: {{albums.totalTracks}}</p>
  </mat-card>



   <mat-card class="card-client">
  <H3>List of Artists</H3>
  <div>
    @for (artist of albums.artists; track artist.id) {
      <p class="name-client">
        {{artist.firstName}}
        <button mat-stroked-button color="primary" (click)="openArtistDialog(artist)">View</button>
      </p>
    }
  </div>
</mat-card>


<mat-card class="card-client">
  <H3>List of Tracks</H3>
  <div>
    @for (track of albums.tracks; track track.id) {
      <p class="name-client">
        {{track.title}}
        <button mat-stroked-button color="primary" (click)="openTrackDialog(track)">View</button>
      </p>
    }
  </div>
</mat-card>





</div>
}

<div class="button-container">
<mat-card-actions>
<div class="button-container"> <a class="my-custom-button" mat-fab extended (click)="cancel()">
                <mat-icon>arrow_back</mat-icon> Back</a></div>
</mat-card-actions>
</div>
