.card-client {
    background:  #fcfcfc;
  width: 40rem;
  padding-top: 50px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border: 4px solid #e6e9eb;
  box-shadow: 6px 6px 10px rgb(157, 180, 224);
  border-radius: 10px;
  text-align: center;
  color: #04060c;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
   float:left;
  width: 20%;
  padding: 10px 10px;
}

.name-client {
  text-align:justify;
  margin: 0;
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
}

.social-media:before {
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
  margin: 20px 0;
  background: #1e1f1f;
}



.button-container {
  display: flex;
  justify-content:center;
  margin-top: 10px;

}

/* mat-card-actions {
  display: flex;
  gap: 300px;
} */

.my-custom-button {
      width: 250px;
      height: 40px;
      font-size: 16px;
    }
.main{
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.title {
   color: #3f51b5;
 justify-content: center;
}

.content1{
  margin-left: 25%;
  padding: 10px;
  justify-items: left;
  font-size: 100%;
  height: 50%;
}

.badge {
  background:  #3f51b5;
  color: #fff;
  border-radius: 12px;
  padding: 2px 8px;
  font-size: 0.85em;
  margin-left: 8px;
  vertical-align: middle;
  display: inline-block;
  min-width: 24px;
  text-align: center;
}



