<h2 mat-dialog-title class="title">Track Details</h2>
    <mat-dialog-content>
      <p><strong>Track Name:</strong> {{data.title}}</p>
      <p><strong>Language:</strong> {{data.language}}</p>
      <p><strong>Duration:</strong> {{data.duration}}</p>
      <p><strong>ReleaseDate:</strong> {{data.releaseDate}}</p>
      <p><strong>Producer:</strong> {{data.producer}}</p>
    </mat-dialog-content>
    <mat-dialog-actions class="action" align="end">
      <button mat-button mat-dialog-close>Close</button>
    </mat-dialog-actions>
